.plantel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background-color: #ffffffee;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.35s;
}

.plantel__content {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  overflow-y: scroll;
  opacity: 0;
  margin: 0 auto 0 auto;
  padding: 0;
}

.plantel__content::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

.plantel__content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.plantel__content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.75);
}

.plantel__header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  background: #f4f4f4;
  min-height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #999;
}

@media (min-width: 720px) {
  .plantel__header {
    width: calc(100% - 40px);
    margin: 80px auto 0 auto;
  }
}

.plantel__header img {
  max-height: 50px;
  margin: 20px;
}

.plantel__header h3 {
  font-size: 21px;
  font-weight: 700;
  font-family: "adelle-sans", Arial;
}

.plantel__close {
  position: fixed;
  top: 20px;
  right: 10px;
  background-color: #000;
  color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 99px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10000;
  opacity: 0.9;
  transition: 0.35s;
  cursor: pointer;
}

.plantel__close:hover {
  opacity: 1;
}

.plantel__close svg {
  width: 16px;
}

.plantel__close svg g,
.plantel__close svg path {
  fill: #fff;
}

.plantel.--active {
  transform: translateX(0) !important;
  opacity: 1 !important;
  pointer-events: initial !important;
}

.plantel.--active .plantel__content {
  opacity: 1 !important;
}

.--static {
  overflow: hidden;
}

.plantel__table {
  width: calc(100% - 20px);
  margin: 0 0 90px 0;
  border-collapse: collapse;
  border-spacing: 0 0;
  background-color: #fff;
}

@media (min-width: 720px) {
  .plantel__table {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

.plantel__table thead {
  border-bottom: 1px solid #ccc;
}

.plantel__table thead tr:first-child th {
  background-color: #333;
  color: #fff;
  font-family: "adelle-sans", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
  padding: 8px 0;
}

.plantel__table thead tr:first-child th:first-child {
  padding-left: 10px;
}

.plantel__table thead tr:first-child th.plantel__table--th {
  text-align: center;
  border-left: 1px solid #666;
}

.plantel__table thead tr:first-child th.plantel__table--totales {
  text-align: center;
  background: #000;
  border-left: 1px solid #666;
}

.plantel__table thead tr:last-child th {
  font-family: "adelle-sans", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

.plantel__table tbody tr td {
  vertical-align: baseline;
  font-family: "adelle-sans", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 13px;
}

@media (min-width: 720px) {
  .plantel__table tbody tr td {
    padding: 10px 0;
  }
}

.plantel__table tbody tr td.td__name {
  font-weight: 400;
  min-width: 160px;
  line-height: 1.25;
  padding: 8px 10px 8px 0;
  font-size: 14px;
  font-size: 13;
  font-weight: normal;
}

@media (min-width: 720px) {
  .plantel__table tbody tr td.td__name {
    font-size: 15px;
    padding: 5px 0;
  }
}

.plantel__table tbody tr td.td__name span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.15;
  padding-bottom: 1px;
}

.plantel__table tbody tr td.td__ciudad {
  min-width: 130px;
  padding: 0 8px 0 0;
  font-size: 13px;
  opacity: 0.6;
}

.plantel__table tbody tr td.td__pais {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  padding: 0 3px 0 5px;
}

.plantel__table tbody tr td.td__position {
  text-transform: uppercase;
  font-size: 11px;
  padding: 0 15px 0 10px;
}

.plantel__table tbody tr td.td__goles {
  text-align: center;
  border-left: 1px solid #ccc;
  min-width: 45px;
}

@media (min-width: 720px) {
  .plantel__table tbody tr td.td__goles {
    width: 60px;
  }
}

.plantel__table tbody tr td.td__totales {
  font-weight: 700;
  border-left: 1px solid #ccc;
}

.plantel__table tbody tr td.td__totales {
  font-weight: 700;
}

.plantel__table tbody tr td:first-child {
  padding-left: 10px;
}

.plantel__table tbody tr:nth-child(odd) {
  background: #f9f9f9;
}

.plantel__table tbody tr:nth-child(odd) td {
  background: #f9f9f9;
}
