$localPath: ".";
$remotePath: "https://clarin.com/redaccionfiler/clarin/desarrollo/2023/deportes/superliga/";
$URL: $localPath;

@import "sass/general";
@import "sass/hero";
@import "sass/loader";
@import "sass/clubs";
@import "sass/plantel";
@import "sass/extras";
@import "sass/sharing";
